<div class="header-start-section">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">This is blume.</h1>
      <h2 class="mat-h2">
        This website shows the details of all the upcoming, trending, top-rated movies so that you can find them in one
        place i.e. here!
      </h2>
    </div>
  </div>
</div>

<div style="margin: 40px">
  <h1 style="font-size: 26px; font-weight: 500; color: gold">Want to make any suggestion, feedback?</h1>
  <p style="font-size: 20px; line-height: 1.6">
    Browse through thousands of catalogues of movies. Search for a particular movie or click on any movie card to get
    the detailed description about that movie, watch trailers, movie screenshots, movie casts photos and more!<br /><br />

    This web app is powered by API's provided by
    <a class="link-style" href="https://www.themoviedb.org/" target="_blank">TMDB</a>. If you want to contribute to this
    project head over
    <a class="link-style" href="https://github.com/blume0F/bingeDB-movie-app" target="_blank">here!</a> Any idea or
    contribution would be highly appreciated. I will be adding more features in the near future so stay tuned.
  </p>
</div>

<div class="connect-top">Feel free to connect with me on these platforms!</div>

<div class="connect-with-me">
  <ul>
    <li class="zoom">
      <a href="https://twitter.com/blume0F" target="_blank"
        ><img src="https://img.icons8.com/doodle/96/000000/twitter--v1.png" alt="twitter_icon" loading="lazy"
      /></a>
      <p>Twitter</p>
    </li>
    <li class="zoom">
      <a href="https://github.com/blume0F" target="_blank"
        ><img src="https://img.icons8.com/doodle/96/000000/github--v1.png" alt="github_icon" loading="lazy"
      /></a>
      <p>Github</p>
    </li>
    <li class="zoom">
      <a href="https://steamcommunity.com/id/blume0F" target="_blank"
        ><img
          style="width: 96px; height: 96px"
          src="https://img.icons8.com/fluency/96/000000/steam.png"
          alt="steam_icon"
          loading="lazy"
      /></a>
      <p>Steam</p>
    </li>
    <li class="zoom">
      <a href="https://www.linkedin.com/in/abhishek1399/" target="_blank"
        ><img src="https://img.icons8.com/doodle/96/000000/linkedin--v2.png" alt="linkedin_icon" loading="lazy"
      /></a>
      <p>LinkedIn</p>
    </li>
  </ul>
</div>
